
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pip install -r requirements.txt && streamlit run main.py --server.address=0.0.0.0 --server.port=8080"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
